<main class="main-mid">
  <h1>MAIN</h1>
  <a href="/tutorial">Tutorial</a>
  <a href="/login">Login</a>
  <a href="/sign">Sign-Up</a>
  <a href="/forum">Forum</a>
  <a href="/vitrine">Vitrine</a>
</main>