<div class="image-home">

  <nav>

    <img src="../images/Mixer-logo-02.png" alt="logo" height="100">
    <ul class="d-none d-md-inline-flex">
      <li> <a href="/vitrine">Projects</a></li>
      <li> <a href="/tutorial">Tutorials</a> </li>
      {{!-- <li> <a href="/forum">Comunity</a> </li> --}}
      <li> <a href="/login">Login</a> </li>
      <li> <a href="/sign">Signup</a> </li>

    </ul>

  </nav>
  <div class="layout">
    <h1>Faça parte da comunidade <br> de musica Mixer</h1>
    <form action="/sign" method="get">
      <button type="submit">
        <p class="inscreva-se">Inscreva-se</p>
      </button>
    </form>
  </div>

</div>