* {
    margin: 0px;
    padding: 0px;
}

body, html{
  height: auto;
}

/* --HOME */

/* navbar */
nav {
  display: flex;
  background-color: rgba(34, 34, 47, 0.6);
  height: 70px;
  justify-content:  space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
}

ul > li {
  list-style: none;
  padding-left: 10px;
  padding-right: 15px; 
}

.logo {
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 30px;
  bottom: 20px;
  color: white;
  font-weight: bold;
  list-style: none;
}

.categories {
  display: flex;
  position: relative;
  left: 650px;
}

.categories > li {
  padding-left: 20px;
  list-style: none;
}

li > a {
  color: white;
  text-decoration: none;
}

li > a:hover {
  text-decoration: none;
  color:lightgrey;
}

/* imagem de fundo da home */

.image-home {
  background-image: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100%;
  animation: bgAnimation 15s ease infinite;
}

@keyframes bgAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* layout */

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12rem;
}

.layout > h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

form > button {
  border-style: none;
  border-radius: 50px;
  background-color: rgba(34, 34, 47);
}

form > button:hover {
  background-color: #323245
}
  button > p {
  position: relative;
  top: 8px;
  padding: 1px 30px;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}


/* END OF HOME */

/* SIGN CSS */
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
  animation: bgAnimation 15s ease infinite;
}

@keyframes bgAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container-sign > img {
  position: relative;
  top: 20px;
}

.container-sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgba(34, 34, 47, 0.8);
  border-radius: 20px;
  height: 550px;
  width: 470px;
}

.container-sign > form {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-sign > h2 {
  color: white;
  font-size: 30px;
  position: relative;
  top: 25px;
}

/* .container-sign > h1 {
  font-size: 60px;
  color: white;
  position: relative;
  top: 30px;
} */
.container-sign > a {
  position: relative;
  bottom: -90px;
  color: aqua;
}

.container-sign > a:hover {
  text-decoration: none;
  color: darkcyan;
}

form > label {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-sign {
  position: relative;
  top: 20px;
  border-style: none;
  border-radius: 20px;
  background-color: white;
}

.btn-sign:hover {
  background-color: white;
}

.btn-sign > p {
  font-size: 18px;
  padding: 1px 10px;
  color: black;
  position: relative;
  top: 8px;
}

/* SIGN END */

/* LOGIN START */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
  animation: bgAnimation 15s ease infinite;
}

@keyframes bgAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgba(34, 34, 47, 0.8);
  border-radius: 20px;
  height: 500px;
  width: 470px;
}

.container-login > img {
  position: relative;
  top: 20px;
}

.container-login > h2 {
  color: white;
  font-size: 30px;
  position: relative;
  top: 25px;
}

.container-login > h1 {
  font-size: 60px;
  color: white;
  position: relative;
  top: 30px;
}

.container-login > form {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-login > a {
  position: relative;
  bottom: -100px;
  color: aqua;
  }
  
.container-login > a:hover {
  text-decoration: none;
  color: darkcyan;
  }

.btn-login {
  position: relative;
  top: 20px;
  border-style: none;
  border-radius: 20px;
  background-color: white;
  }

.btn-login:hover{
  background-color: white;
}
  
.btn-login > p {
  font-size: 18px;
  padding: 1px 10px;
  color: black;
  position: relative;
  top: 8px;
  }

/* LOGIN END   */
/* TUTORIALS START */
.main-mid {
  display: flex;
  flex-direction: column;
  background-size: 200%;
  /* height: 100%; */
  /* background-color:  rgba(34, 34, 47, 0.9); */
  background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
  animation: bgAnimation 15s ease infinite;
}

@keyframes bgAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.main-mid > h1 {
  display: flex;  
  justify-content: center;
  margin-top: 40px;
  color: white;
}

/* .btn-tutorial-flex {
  display: flex;
} */

.btn-tutorial {
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: 54rem;
  background-image: linear-gradient(35deg, #23a6d5, #23d5ab);
  border: 3px solid #1f9eb8;
}

.btn-tutorial:hover{
  background-image: linear-gradient(35deg, orangered, orangered);
}

.btn-tutorial-id{
  background-image: linear-gradient(35deg, #23a6d5, #23d5ab);
  border-radius: 10px;
}

.btn-tutorial-id:hover{
  background-image: linear-gradient(35deg, orangered, orangered);
}

.btn-tutorial-id > p {
  font-size: 12px;
}

h1 > span {
  /* background-color: rgba(34, 34, 47, 0.6); */
  color: white;
  padding: 1px 15px;
  border-radius: 50px;
}
/* 
.margin-all > div {
  margin:35px;
} */

/* .card-img-overlay{
  display: flex;
  flex-direction: column;
  justify-content: cenrials
  Login
  Signupter;
  align-items: center;
} */

.card-img-overlay > h2 {
  margin-bottom: 100px;
}

form > .btn-tutorial{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tutorial{
  background-color: rgba(34, 34, 47, 0.6) ;
}

.tutorial-bgc{
 background-image: linear-gradient(35deg,#23a6d5, #23d5ab);
 height: 100px;
 display: flex;
 align-items: center;
 box-shadow: 0px 4px rgba(34, 34, 47, 0.1);
}

.tutorial-bgc > h1 {
  color: white;
  margin-left: 80px;
  font-weight: lighter;
}

/* TUTORIALS END */

/* CREATE A TUTORIAL START*/

.main-mid-create{
 /* background-color:  rgba(34, 34, 47, 0.9); */
 background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
 height: 100%;
}

.main-mid-create > h1 {
  background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
  text-align: center;
  color: white;
}

.tutorial-create-flex{
  display: flex;
  justify-content: center;
}

.tutorial-create-flex > .form-create {
  display: flex;
  flex-direction: column;
}

.form-create {
  width: 60%;
}

.form-create > input {
  /* background-color: rgba(34, 34, 47, 0.6); */
  border-radius: 10px;
}

.form-create > textarea {
  border-radius: 10px;
  margin-top: 5px;
  height: 360px;
  width: 100%;
}

.form-create > button {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(34, 34, 47, 0.6);
}

/* CREATE TUTORIAL END */

/* USER START */

.main-user{
  background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
  height: 100%;
}

.user-icon{
  background-color:  rgba(34, 34, 47, 0.4);
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 2px solid white;
}

.user-icon > img {
  height: 70%;
}

.user-main-info{
  background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
  box-shadow: 0px 4px rgba(34, 34, 47, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

.user-flex > a {
  text-decoration: none;
  margin-right: 50px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: 6px 4px rgba(34, 34, 47, 0.1);
}

.user-flex > a:hover{
  padding: 4px 15px;
}

.user-name {
  font-size: 40px;
  color: white;
  line-height: 30px;
}

.user-flex {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
  width: 80%;
  margin-left: 50px;
}

.user-role {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(34, 34, 47, 0.1); */
  height: 300px;
}

.user-role > h1 {
  background-image: linear-gradient(-45deg,#1A7DED, #23d5ab);
  border-radius: 10px;
  background-size: 100%;
  box-shadow: 8px 5px rgba(34, 34, 47, 0.4);
  color: white;
  font-size: 60px;
  padding: 10px;
}

.user-role > h1:hover {
  font-size: 63px;
  box-shadow: 10px 7px rgba(34, 34, 47, 0.3);
  height: 20%;
}

/* USER END */

/* TUTORIAL OWNER */
.main-owner-tutorial{
  background-image: linear-gradient(20deg ,#1A7DED, #23d5ab);
  height: 100%;
}


/*---------------------------------- PARTE DO AXIOS FRONT, APAGAR ------------------------------*/
/*---------------------------------- PARTE DO AXIOS FRONT, APAGAR ------------------------------*/
/*---------------------------------- PARTE DO AXIOS FRONT, APAGAR ------------------------------*/
/*---------------------------------- PARTE DO AXIOS FRONT, APAGAR ------------------------------*/
#section-comments {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.exit-comments {
  color:red;
  align-self: flex-start;
  justify-self: start;
}

.div-comments {
  color: white;
}

.div-comments-create {
  order: -1;
  align-self: flex-end;
}

#section-comments > form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  bottom: 0px;
}

#section-comments > form > * {
  margin: 0.2em auto 1.2em auto;
}