<div class="login">

    <div data-aos="fade-right" class="container-login">
        {{!-- <h1>{name}</h1> --}}
        <img src="../../images/Mixer-logo-solo.png" alt="" height="120">
        <h2>Login</h2>

        <form action="/login/post" method="POST">
            <label for="login">Login:</label>
            <input type=" text" name="login" id="login" placeholder="your login">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="********">
            <button type="submit" class="btn-login">
                <p>Login!</p>
            </button>
        </form>
        <a href="/sign">Signup</a>
        <a href="/">Back to home</a>
    </div>

</div>

</div>