<main class = "main-mid">
  <h1>Project</h1>
  <article>Project one</article>
  <article>Project two</article>
  {{!-- temos o documento do user logado aqui --}}
  <form action="/vitrine/create" method="POST">
    <textarea name = "text" id = "Project-text" name = "text" disabled="disabled" cols = 40 rows = 10></textarea>
    <button type="submit"> CREATE </button>
  </form>

</main>