  <form action="/tutorial/edit?id={{id}}" method="POST">
    <textarea name = "text" id = "tutorial-text" name = "text" disabled="disabled" cols = 100 rows = 20></textarea>
    <button type="submit"> SUBMIT </button>
  </form>