<main class = "main-mid-create">
  <nav class="nav-tutorial">

    <img src="../images/Mixer-logo-02.png" alt="logo" height="100">
    <ul class="d-none d-md-inline-flex">
      <li> <a href="/">Home</a></li>
      <li> <a href="/vitrine">Projects</a></li>
      <li> <a href="/tutorial">Tutorials</a> </li>
      {{!-- <ffffffli> <a href="/forum">Comunity</a> </li> --}}
      <li> <a href="/login">Login</a> </li>
      <li> <a href="/sign">Signup</a> </li>

    </ul>

  </nav>
  {{!-- <h1>Create your tutorial</h1> --}}
  {{!-- temos o documento do user logado aqui --}}
  <div data-aos="fade-right" class="tutorial-create-flex">
  <form action="/tutorial/create" method="POST" class="form-create">
    <button type="submit"> <p>🖊️Create</p></button>
    <input type="text" name="title" placeholder="  your title...">
    <textarea name = "text" id = "tutorial-text" name = "text" disabled="disabled" cols = 40 rows = 10 placeholder="  your tutorial !!! "></textarea>
  </form>

  </div>

{{#if error}}
  <h1>{{error}}</h1>
{{/if}}

</main>