<main class = "main-mid">
  <h1>Tutorial</h1>
  <article>Tutorial one</article>
  <article>Tutorial two</article>
  {{!-- temos o documento do user logado aqui --}}
  <form action="/tutorial/create" method="POST">
    <textarea name = "text" id = "tutorial-text" name = "text" disabled="disabled" cols = 40 rows = 10></textarea>
    <button type="submit"> CREATE </button>
  </form>

</main>