
{{!-- USANDO O HBS DO SIGN COMO BASE --}}
<form action="/user-download" method="post" class="upload-dom" enctype="multipart/form-data">
  <input type="file" name="photo" id="photo">
  <button type="submit">SAVE</button>
  <div class="exit-upload-dom"> <span>X</span> </div>
</form>
<div class="sign">


  <div data-aos="fade-right" class="container-sign">
    <div class="user-icon">
      <img src="../{{this.image}}" alt="image-user not found" class="image-switch">
    </div>
  {{!-- <img src="../../images/Mixer-logo-solo.png" alt="" height="120" class="image-switch"> --}}

  <form action="/user-profile/edit" method="post">
    <label for="login"> *Login </label>
    <input type="text" name="login" id="login" placeholder="your login">

    <label for="name"> *Username</label>
    <input type="text" name="name" id="name" placeholder="your username">

    <label for="password"> *Password </label>
    <input type="password" name="password" id="password" placeholder="********">

    <button type="submit" class="btn-sign"> <p>Update</p></button>
  </form>
  <a href="/user-profile">back to profile</a>
</div>
</div>

{{#if error}}
<h1>{{error}}</h1>
{{/if}}