<main class="main-user">
  <nav class="nav-tutorial">

    <img src="../images/Mixer-logo-02.png" alt="logo" height="100">
    <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/vitrine">Projects</a></li>
      <li> <a href="/tutorial">Tutorials</a> </li>
      {{!-- <ffffffli> <a href="/forum">Comunity</a> </li> --}}
      <li class = "lgs"> <a href="/login">Login</a> </li>
      <li class = "lgs"> <a href="/sign">Signup</a> </li>

    </ul>

  </nav>
  <div class="user-main-info">

    <div class="user-icon">
      <img src="{{this.image}}" alt="image-user not found">
    </div>
    <div class="user-flex">
    <div class="user-name">
      <h5>name:</h5>
      <p>{{this.name}}</p>
    </div>
    <a href="/user-profile/edit">EDIT</a>
    </div>
  </div>
  <div class="user-role">
    <h1>{{this.role}}</h1>
  </div>

  {{#if error}}
  <h1>{{error}}</h1>
  {{/if}}
</main>